$color1: #9c8322e0;
$color2: #5C3516;
$color3: #a0978a;
$color4: #e8e5de;
$color5: #2e1b0b;
$color6: #f1f0ec;
$color7: #701516;
$black: #222;
$white: #fafafa;

$primary-color: $color1;
$secondary-color: $color7;
$primary-background: $color6;
$secondary-background: $color4;
$input-background: $white;
$font-color: $black;
$font-family: "Montserrat", sans-serif;
$header-font-color: $color2;
$header-background: $color4;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $color1;
$secondary-font-color: $color2;
$global-border-style: $color5;
$second-global-border: $color3;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;
